@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #DAE4D3;
}

/*---------Aside-------*/
aside {
  position: fixed;
  right: 0;
  bottom: 5vw;
  background-color: rgba(76, 76, 76, 0.718);
  width: 9vw;
  height: 30vw;
  border-radius: 2vw 0 0 2vw;
  font-size: 22px;
  z-index: 3;
}
aside li {
  color: white;
  list-style: none;
  padding: 2vw 0vw;
  font-weight: 500;
  font-family: "Grandstander";
}
aside a {
  text-decoration: none;
  color: white;
}

aside a:hover {
  animation: aside 0.5s ease forwards;
}

@keyframes aside {
  to {
    border-bottom: 5px solid rgb(255, 255, 255);
    font-size: 1.4vw;
  }
}
@keyframes aside-phone {
  to {
    border-bottom: 5px solid rgb(255, 255, 255);
    font-size: 2vw;
  }
}
@media only screen and (max-width: 1000px) {
  aside {
    width: 100vw;
    height: 10vw;
    bottom: 0;
    border-radius: 0;
  }
  aside ul {
    display: flex;
    gap: 5vw;
    justify-content: center;
  }
  aside a:hover {
    animation: aside-phone 0.5s ease forwards;
  }
}
/*----------Header---------*/
header {
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
}
header nav {
  display: flex;
  background-color: #788E66;
  color: #F1F1F1;
  list-style: none;
  justify-content: center;
  gap: 6vw;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
header nav a {
  text-decoration: none;
  color: #F1F1F1;
}
header nav li {
  font-size: 1.5vw;
  margin: 5vw 0 0 0;
  font-family: "Grandstander";
}
header nav img {
  height: 3vw;
  margin: auto 0;
}
header .logo {
  height: 6vw;
  margin-top: 1vw;
}
header .header-main {
  height: 8vw;
  margin: 0 2vw;
  border-radius: 0 0 2vw 2vw;
  width: 80vw;
}
header .header-search, header .header-profile {
  height: 6vw;
  width: 6vw;
  border-radius: 2vw;
}
header .header-profile {
  margin: 2vw 2vw 0 0;
}
header .header-search {
  margin: 2vw 0 0 2vw;
}

@media only screen and (max-width: 1000px) {
  .header-main, .header-profile, .header-search {
    display: none;
  }
  .header-phone {
    display: flex;
    gap: 30vw;
    width: 100vw;
    height: 12vw;
  }
  .header-profile-phone, .header-burger-phone {
    width: 5vw;
    height: auto;
  }
  .logo-phone {
    height: 10vw;
    margin: 1vw 0;
  }
}
/*---------------------Main-----------------*/
/*----Generel typografy-----*/
h1 {
  font-size: 4.5vw;
  font-weight: 300;
  font-family: "Grandstander";
}
h1 span {
  font-size: 5vw;
  font-weight: 700;
  color: #217420;
}

h2 {
  font-family: "Grandstander";
  font-size: 3vw;
  font-weight: 300;
}
h2 span {
  font-size: 3.5vw;
  font-weight: 700;
  color: #217420;
}

h3 {
  font-family: "Grandstander";
  font-size: 2vw;
  text-align: center;
  margin-bottom: 2.5vw;
}

p {
  font-size: 1.5vw;
  letter-spacing: 1px;
  line-height: 1.5em;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 8vw;
  }
  h1 span {
    font-size: 9vw;
  }
  h2 {
    font-size: 7vw;
    text-align: center;
  }
  h2 span {
    font-size: 8vw;
  }
  h3 {
    font-size: 5vw;
  }
  p {
    font-size: 5vw;
  }
}
/*------Box size-------*/
.box-one {
  display: grid;
}
.box-one img {
  width: 25vw;
  justify-self: center;
  margin-top: 5vw;
}
.box-one .text {
  padding: 0 25vw;
  margin-bottom: 2vw;
}
.box-one .last {
  margin-bottom: 10vw;
}
.box-one h1 {
  text-align: center;
}

/*Boks til en tekst og et billede ved siden af hinanden*/
.box-two, .box-two-reverse {
  display: flex;
  gap: 6vw;
  margin: 9vw 17vw;
}
.box-two img, .box-two-reverse img {
  height: 25vw;
}
.box-two p, .box-two-reverse p {
  margin: 2em 0;
}
.box-two .box-two-text, .box-two-reverse .box-two-text {
  margin: auto 0;
}

/*Modsat hvor billede kommer først*/
.box-two-reverse {
  flex-direction: row-reverse;
}

.box-three {
  display: flex;
  gap: 9vw;
  justify-content: center;
}
.box-three img {
  width: 20vw;
}

.box-three-scroll {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80vw;
}
.box-three-scroll img {
  width: 15vw;
}
.box-three-scroll div {
  display: flex;
  width: 50vw;
  overflow-y: auto;
}

@media only screen and (max-width: 1000px) {
  .box-one img {
    width: 50vw;
    justify-self: center;
    margin-top: 5vw;
  }
  .box-one .text {
    padding: 2vw 10vw;
  }
  /*Boks til en tekst og et billede ved siden af hinanden*/
  .box-two, .box-two-reverse {
    display: grid;
  }
  .box-two img, .box-two-reverse img {
    height: 50vw;
  }
  /*Modsat hvor billede kommer først*/
  .box-two-reverse {
    display: grid;
    padding-bottom: 15vw;
  }
  .box-three {
    display: grid;
    padding: 0 10vw;
  }
  .box-three div {
    margin: 4vw 0;
  }
  .box-three img {
    width: 40vw;
    margin: 1vw;
  }
  .box-three-scroll {
    padding-bottom: 10vw;
  }
  .box-three-scroll div:nth-of-type(1) {
    overflow-y: auto;
  }
}
/*-----Generelt styling-----*/
.flex {
  display: flex;
  gap: 2vw;
}

.streg {
  height: 0.3vw;
  width: 4vw;
  background-color: black;
  margin: auto 0;
}

.extra-pad {
  padding-top: 5vw;
}

.extra-margin {
  margin-top: 5vw;
}

/*Alle knapper på siden*/
.knap {
  width: 20vw;
}
.knap p {
  color: #F1F1F1;
  text-align: center;
  background-image: url("../img/vector-knap.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5em 1em;
  font-family: "Grandstander";
  letter-spacing: 0;
  font-size: 1.5vw;
}
.knap a {
  text-decoration: none;
  color: white;
}

.knap:hover {
  cursor: pointer;
  filter: saturate(3);
}

.first-bg {
  background-color: transparent;
  padding: 9vw 0;
}

.second-bg {
  background-color: #E6F1DF;
  padding: 5vw 0;
  position: relative;
}

.center-text {
  text-align: center;
}

.app {
  height: 12vw;
  width: 12vw;
  margin: 1.8vw;
  border-radius: 4vw;
}

.arrow-left, .arrow-right {
  height: 3vw;
  max-width: 1.7vw;
  margin-top: 4vw;
}

.arrow-right {
  rotate: 180deg;
  margin-left: 2vw;
}

.arrow-left {
  margin-right: 2vw;
}

.absolut {
  position: relative;
}

.fakta-box {
  position: absolute;
  bottom: 3.5vw;
  left: 55vw;
}
.fakta-box p {
  text-align: center;
  line-height: 6vw;
  font-size: 1.5vw;
}

@media only screen and (max-width: 1000px) {
  .knap {
    width: 60vw;
    margin: 0 auto;
  }
  .knap p {
    font-size: 4vw;
  }
  .arrow-left, .arrow-right {
    height: 6vw;
    max-width: 3.4vw;
    margin-top: 15vw;
  }
  .fakta-box {
    left: 10vw;
    bottom: 8vw;
  }
  .fakta-box p {
    line-height: 8vw;
    font-size: 4.5vw;
    text-align: center;
  }
  .app {
    min-width: 25vw;
    height: 25vw;
    border-radius: 6vw;
    margin: 2vw;
  }
  .streg {
    display: none;
  }
  .second-bg {
    padding: 8vw 0;
  }
  .extra-pad {
    padding-top: 15vw;
  }
  .extra-margin {
    margin-top: 15vw;
  }
}
/*--------Bulldog--------*/
.title-over-box {
  font-size: 70px;
  font-weight: 500;
  color: #217420;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----------Footer-------*/
footer {
  background-color: #788E66;
  padding: 5vw 15vw;
  display: flex;
}
footer .footer-box {
  padding-bottom: 2vw;
}
footer .footer-box h2 {
  color: #F1F1F1;
  padding: 2vw;
}
footer .footer-box p {
  padding: 1vw;
  color: #F1F1F1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}
footer .footer-box a {
  color: #F1F1F1;
}
footer .flex {
  padding: 2vw 0;
}
footer .flex img {
  width: 7vw;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
  border-radius: 2vw;
}
footer form {
  background-color: rgb(148, 168, 130);
  width: 29vw;
  border-radius: 2vw;
  margin: 0 auto;
  padding: 2vw 0;
}
footer form h2 {
  text-align: center;
  color: #F1F1F1;
  padding: 2vw 0;
}
footer input[id=navn], footer input[id=mail], footer input[id=tel], footer input[type=submit] {
  border-radius: 2vw;
  width: 25vw;
  padding: 1.5rem;
  margin: 2vw 2vw;
  border: none;
}
footer input[type=submit] {
  background-color: #217420;
  color: white;
  font-size: 2vw;
}
footer input[id=navn], footer input[id=mail], footer input[id=tel] {
  background-color: #DAE4D3;
  font-size: 1vw;
}
footer .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  footer {
    display: grid;
    padding: 10vw 15vw;
  }
  footer .flex {
    padding: 2vw 0;
    margin-bottom: 8vw;
  }
  footer .flex img {
    width: 10vw;
    border-radius: 3vw;
  }
  footer form {
    width: 70vw;
  }
  footer form input[type=submit] {
    font-size: 5vw;
    width: 62vw;
    margin: 0 4vw 2vw 4vw;
  }
  footer form input[id=navn], footer form input[id=mail], footer form input[id=tel] {
    font-size: 5vw;
    width: 62vw;
    margin: 2vw 4vw;
  }
}/*# sourceMappingURL=stylesheet-pc.css.map */