@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #DAE4D3;
}

/*----------Header---------*/
header {
  display: flex;
}
header nav {
  display: flex;
  flex-grow: 4;
  background-color: #788E66;
  color: #F1F1F1;
  list-style: none;
  justify-content: center;
  gap: 7vw;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
header nav a {
  text-decoration: none;
  color: #F1F1F1;
}
header nav li {
  font-size: 25px;
  margin: 3em 0 0 0;
  font-family: "Grandstander";
}
header nav img {
  height: 4em;
  margin: auto 0;
}
header .logo {
  height: 7em;
  margin-top: 13px;
}
header .header-main {
  height: 140px;
  margin: 0 4em;
  border-radius: 0 0 2em 2em;
}
header .header-search, header .header-profile {
  height: 110px;
  max-width: 110px;
  border-radius: 2em;
}
header .header-profile {
  margin: 30px 4em 0 0;
}
header .header-search {
  margin: 30px 0 0 4em;
}

/*---------Main--------*/
h1 {
  font-size: 50px;
  font-weight: 300;
  font-family: "Grandstander";
}
h1 span {
  font-size: 65px;
  font-weight: 700;
  color: #217420;
}

h2 {
  font-family: "Grandstander";
  font-size: 48px;
  font-weight: 300;
}
h2 span {
  font-size: 55px;
  font-weight: 700;
  color: #217420;
}

h3 {
  font-family: "Grandstander";
  font-size: 40px;
  text-align: center;
  margin-bottom: 2.5vw;
}

p {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.box-one {
  display: grid;
}
.box-one img {
  width: 40vw;
  justify-self: center;
  margin-top: 5vw;
}
.box-one p {
  margin: 0 25vw;
}

/*Boks til en tekst og et billede ved siden af hinanden*/
.box-two, .box-two-reverse {
  display: flex;
  gap: 6em;
  margin: 9em 17vw;
}
.box-two img, .box-two-reverse img {
  height: 25vw;
}
.box-two p, .box-two-reverse p {
  margin: 2em 0;
}
.box-two .box-two-text, .box-two-reverse .box-two-text {
  margin: auto 0;
}

/*Modsat hvor billede kommer først*/
.box-two-reverse {
  flex-direction: row-reverse;
}

.box-three {
  display: flex;
  gap: 9vw;
  justify-content: center;
}
.box-three img {
  width: 20vw;
}

/*Alle knapper på siden*/
.knap {
  width: 20vw;
}
.knap p {
  color: #F1F1F1;
  text-align: center;
  background-image: url("/img/vector-knap.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5em 1em;
  font-family: "Grandstander";
  letter-spacing: 0;
  font-size: 22px;
}
.knap a {
  text-decoration: none;
  color: white;
}

.first-bg {
  background-color: transparent;
  padding: 9em 0;
}

.second-bg {
  background-color: #E6F1DF;
  padding: 9em 0;
  position: relative;
}

.center-text {
  text-align: center;
}

.app {
  height: 12vw;
  width: 12vw;
  background-color: white;
  border-radius: 2vw;
}

.arrow-left, .arrow-right {
  height: 3vw;
  max-width: 1.7vw;
  margin-top: 4vw;
}

.arrow-right {
  rotate: 180deg;
}

/*--------Bulldog--------*/
.dog-description {
  font-size: 35px;
}

.title-over-box {
  font-size: 70px;
  font-weight: 500;
  color: #217420;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----------Footer-------*/
footer {
  background-color: #788E66;
  min-height: 50vw;
}/*# sourceMappingURL=stylesheet-pc.css.map */